.para-header { background: url(../images/42.jpg) no-repeat center center fixed; /* Height and width fallback for older browsers. */ height: 100%; width: 100%; /* Set the height to match that of the viewport. */ /* Set the width to match that of the viewport. */ /*width: 100vw;*/ /* Remove any browser-default margins. */ margin: 0; padding-bottom: 2em; }
@media screen and (max-width:640px) {
    .para-header { /* Set the height to match that of the viewport. */ /* Set the width to match that of the viewport. */ /*width: 100vw;*/ height: 100vh; /* Remove any browser-default margins. */ margin: 0; padding-bottom: 2em; }
}
.para-d-header { background: url(../images/42.jpg) no-repeat center center fixed; height: 100%; width: 100%; margin: 0; padding-bottom: 2em; }
.para-i-header { background: url(../images/42.jpg) no-repeat center center fixed; height: 100%; width: 100%; margin: 0; padding-bottom: 2em; }
.para-t-header { background: none; height: 100%; width: 100%;  margin: 0; }
.para-h-header { background: url(../images/housing.jpg) no-repeat fixed; height: 100%; width: 100%; margin: 0; padding-bottom: 2em; }

.para-1 { text-align: left; padding-top: 2em; width: 100%; background: #e3e3e3 url(../images/furley_bg.png) repeat; background-color: black; }
.para-b { text-align: left; padding-top: 2em; width: 100%; /*background: #e3e3e3 url(../images/007.jpg) repeat;*/ background-color: #EFECE6; }
.para-t { text-align: left; padding-top: 2em; width: 100%; color: #FAFAFA; font-size: 1.2em; }
.para-2 { text-align: left; padding-top: 2em; width: 100%; background: #e3e3e3 url(../images/furley_bg.png) repeat; }
/* SUB----------------------------------------------------------------- */
.sub-para {padding-left:10%;padding-right:10%;}
.sub-para label { /*background: #000;*/ min-height: 4px; width: 15%; display: block; margin: 1.5em auto; /*border-radius: 40px;*/ }
.sub-para h2 { font-size: 1.5em; margin: 0em 0 0em; text-align: center; }
.sub-para h3 { font-size: 1em; font-weight: bold; margin: 0em 0 0em; text-align: left; line-height: 1.8em; margin-bottom: 0.2em; }
.sub-para p { font-size: 1.0em; color: #575757; line-height: 1.8em; }
.ali-right { text-align: right; }
.sub-para a { font-size: 1.0em; line-height: 1.8em; font-weight: bold; }
.sub-para ul li { font-size: 1.0em; color: #575757; line-height: 1.8em; margin-left: 4em; }
.sub-para-w ul li { font-size: 1.0em; color: #FAFAFA; line-height: 1.8em; margin-left: 4em; }
.french-sub-menu li { font-size: 1.0em; color: #FAFAFA; line-height: 1.8em; margin-left: 4em; padding-bottom: 0.5em; }
.sub-para ol li { font-size: 1.0em; color: #575757; line-height: 1.8em; }
.flex-caption { width: 100%; padding: 2%; left: 0; bottom: 0; background: rgba(0,0,0,.3); color: #fff; text-shadow: 0 -1px 0 rgba(0,0,0,.3); font-size: 14px; line-height: 18px; text-align: center; }
.d-prior p { min-height: 400px; }
#pinContainer { width: 100%; height: 100%; overflow: hidden; -webkit-perspective: 1000; perspective: 1000; }
#slideContainer { width: 400%; /* to contain 4 panels, each with 100% of window width */ height: 100%; }
.panel { height: 100%; width: 25%; /* relative to parent -> 25% of 400% = 100% of window width */ float: left; }
.font-white { color: #fff; }
.hidden { display: none; }
.display { display: initial; }
#back-to-top { position: fixed; bottom: 40px; right: 40px; z-index: 9999; width: 32px; height: 32px; text-align: center; line-height: 30px; background: #337AB7; color: #fff; cursor: pointer; border: 0; border-radius: 2px; text-decoration: none; transition: opacity 0.2s ease-out; opacity: 0; }
    #back-to-top:hover { background: #e9ebec; }
    #back-to-top.show { opacity: 1; }
.peq-main-l { position: absolute; left: 8%; top: 40%; color: #fff; }
.peq-main-m { position: absolute; left: 40%; top: 50%; color: #fff; }
.peq-main-r { position: absolute; left: 70%; top: 30%; color: #fff; }
.trans-bg { border: 2px ridge rgba(238, 238, 238, 0.13); border-radius: 5px; -moz-box-shadow: 0 -5px 10px 1px rgba(16, 16, 16, 0.57); -webkit-box-shadow: 0 -5px 10px 1px rgba(16, 16, 16, 0.57); box-shadow: 0 -5px 10px 1px rgba(16, 16, 16, 0.57); border-bottom: none; max-width: 450px; background-color: rgba(16, 16, 16, 0.4); padding: 25px 25px 25px 25px; }
.d-trans-bg { /*border: 1px ridge rgba(238, 238, 238, 0.13);
    border-radius: 1px;*/ -moz-box-shadow: 0 -5px 10px 1px rgba(16, 16, 16, 0.57); /*-webkit-box-shadow: 0 -5px 10px 1px rgba(16, 16, 16, 0.57);*/ /*box-shadow: 0 -5px 10px 1px rgba(16, 16, 16, 0.57);*/ background-color: rgba(16, 16, 16, 0.3); }
.trust-blue { background-color:#243046;color:white;}
.block-height { padding-bottom:150px; font-weight:initial;}
        .option_l { border-left-style: solid; border-color: #dbd6d6; }
        .option_r { border-left-style: solid; border-right-style: solid; border-color: #dbd6d6; }
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
